<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88092778584-igq14pjc1cetg58dfnf181966qiqg66r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88092778584-igq14pjc1cetg58dfnf181966qiqg66r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88092778584-3q6nctmlq1c9kv6mmoqdcqo3pupvmjsj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Kti6Q-WtOlNX06jvwioMdPa1Ccgphws</string>
	<key>GCM_SENDER_ID</key>
	<string>88092778584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>magazine.businessmagazine</string>
	<key>PROJECT_ID</key>
	<string>organizze-39e97</string>
	<key>STORAGE_BUCKET</key>
	<string>organizze-39e97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88092778584:ios:1cb463840b7e24d4cf2a2d</string>
	<key>DATABASE_URL</key>
	<string>https://organizze-39e97.firebaseio.com</string>
</dict>
</plist>